.documentation{
    margin: 100px 0;
    font-family: "DINPro";
    margin-bottom: 250px;
}
.documentation__bg{
    position: relative;
    margin-top: 100px;
    background-color: $light-color;
    padding: 40px 0;
}
.documentation__text{
    width: 50%;
    margin: 30px 0;
    font-size: 20px;
    color: $inverse-color
}
.documentation__slider-nav{
    margin:40px 0;
    span{
        display: inline-block;
        font-family: "DINProMedium";
        color: $inverse-color;
        font-size: 30px;
        width: 30px;
        height: 30px;
        line-height: 0.7;
        text-align: center;
        border: 2px solid $inverse-color;
        margin-right: 10px;
        transition: all ease .3s;
    }
}

.documentation__slider-nav span:hover{
    color: $accent-color;
    border-color: $accent-color;
    cursor: pointer;
}
.documentation__slider-nav svg{
    position: absolute;
    width: 690px;
    right: 0;
    top: -220px;
}