.footer{
    position: relative;
    overflow: hidden;
    min-height: 100px
}
.footer__inner{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.footer__bg{
    position: absolute;
    left: -50%;
    width: 100%;
    height: 500px;
    margin-left: 20vw;
    background-color: $main-color;
    transform: skewX(-10deg);
}
.footer__heading{
    color: $inverse-color;
    font-family: "pfDinTextCompProThin";
    font-weight: lighter;
    letter-spacing: 2px;
    font-size: 80px;
    margin-top: 50px;
}
.footer__left{
    width: 70%;
    font-size: 25px;
    font-family: "pfDinTextCompProReg";
}
.footer__right{
    padding: 80px 50px 0 50px;
}
.footer__social{
    font-size: 25px;
    text-align: center;
    color: $main-color;
    padding:50px 0 50px 20px;
    letter-spacing: 20px;
}
.footer__contacts{
    color: $inverse-color;
    display: flex;
    justify-content: space-between;  
    margin: 75px 0;
}
.footer__contacts-item{
    display: flex;
    align-items: center;
    width: 33%; 
    div{
        display: inline-block;
    }  
    i{
        margin: 10px 10px 10px 0;
        width: 45px;
        height: 45px;
        color: $accent-color;
        border: 2px solid $accent-color;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
} 
.footer__menu-list{
    display: flex;
    font-size: 20px;
    font-family: "pfDinTextCompProReg";
    color: $inverse-color;
}
.footer__menu{
    position: relative;
    background-color: $dark-color;
    overflow: hidden;
}
.footer__menu-item{
    display: inline-block;
    padding: 10px 15px;
}
.footer__menu-copyright{
    padding: 10px 0;
    margin-left: auto;
}
.footer__copyright{
    position: relative;
    font-family: "DINPro";
    background-color: $inverse-color;
    text-align: center;
    padding: 20px;
    font-weight: bolder;
}
.footer__copyright-link{
    text-decoration: underline;
    font-weight: normal;
}
@media screen and (min-width: 1424px) {
    .footer__bg{
        margin-left: 250px;
    }
}